// ==================================================================================================== //
// ANIMATIONS
// ==================================================================================================== //
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  40% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 90% 90%;
  }
  60% {
    background-position: 100% 98%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}
