.board {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  gap: 10px;

  @media only screen and (max-width: 1150px) {
    grid-template-columns: repeat(9, 45px);
    grid-template-rows: repeat(9, 45px);
    gap: 6px;
  }
  @media only screen and (max-width: 1000px) {
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    gap: 6px;
  }
  @media only screen and (max-width: 880px) {
    grid-template-columns: repeat(9, 35px);
    grid-template-rows: repeat(9, 35px);
    gap: 5px;
  }
  @media only screen and (max-width: 780px) {
    grid-template-columns: repeat(9, 32px);
    grid-template-rows: repeat(9, 32px);
    gap: 5px;
  }

  .cell {
    background-color: rgba(255, 255, 255, 0.25);
    // $-dimensions: 50px;
    // height: $-dimensions;
    // width: $-dimensions;
    transition: background-color 0.5s;
    cursor: pointer;

    @media only screen and (max-width: 1150px) {
      // $-dimensions:
    }

    &:hover {
      background-color: #dbdbdb;
    }
  }

  .miss,
  .hit {
    cursor: auto;
  }

  .miss {
    background-color: #3e3e3e;
    transition: background-color 0.5s;

    &:hover {
      background-color: #2d2d2d;
    }
  }

  .hit {
    background-color: #e44172;
    transition: background-color 0.5s;

    &:hover {
      background-color: #e31f5a;
    }
  }
  .sunk {
    background-color: #6b3f4c;
    transition: background-color 0.5s;

    &:hover {
      background-color: #6b3f4c;
    }
  }
}
