.container {
  max-width: 1124px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}
.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
